html{
    background-color: #474747;
}

#grid{
    width:max-content;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    
}
#row{
    line-height: 0;
}
#cell{
    display:inline-block;
    background-color:#00a6ff72;
    border: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    width: 10px;
    height: 10px;
}
*, *::after, *::before {
    user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}
/*
    
*/