.sketch-options{
    display: inline-block;
    vertical-align: top;
}
.sketch-option{
    display: inline-block;
    height: 50px;
    width: 150px;
    outline: white solid 1px;
    text-align: center;
    word-wrap: break-word;
    vertical-align: middle;
    line-height: 50px;
    color: yellow;
}
#main-sketch{
    display: inline-block;
}
main{
    display: inline-block;
}
p{  
    position: relative;

    text-align: center;
    display: block;
}